*{
    margin: 0;
    padding: 0;
    box-sizing: content-box ;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuBar{
    height: 10%;
    width: 100%;
}
.mainBar{
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    outline: none;
    height: 100%;
    width: 450px;
}
.input{
    width: 561px;
    height: 44px;
    border: white 1px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 26px;
    z-index: 100;
    box-shadow: 0px 0px 5px gray;
}

.dok{
    border-radius: 26px;
}

.mike{
    border-radius: 15px;
}
.button{
    display: flex;
}
.btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eeeeee;
}

.google{
    margin-bottom: 38px;
}

.btname > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 6px;
}

.btname{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.menu{
    display: flex;
    justify-content: flex-end;  
}
.menu p{
    margin-left: 10px;
}
.menu > *{
    display: flex;
    justify-content: center;
    align-items: center;
}